<div class="up-header py-3">
    <div class="up-content container-xxl">
        <div class="up-city">
            <p>г. Казань, Республика Татарстан</p>
        </div>
        <div class="up-number">
            <p>Круглосуточная горячая линия:</p>
            <a href="tel:+79370096711">
                +7 (937) 009-67-11
            </a>
            <div class="dropdown">
                <a class="btn btn-outline-gray" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    еще
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="tel:+296-20-99">
                            296-20-99</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>